<!---<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="cui" id="">
    {{form.cui}}
    {{form.nombre}}
    {{form.apellido}}
    {{form.direccion}}
    {{form.telefono}}
    {{form.correo}}
    <button type="submit">Enviar</button>
</form>
{{form.correo}}
<button type="submit">Enviar</button>
</form>-->
{% load static %}
<head>
<!--<link rel="stylesheet" href="http://127.0.0.1:8000/static/css/clientes.css">-->
<title>Clientes</title>
<link rel="stylesheet" href="{% static './css/clientes.css' %}">
</head>
    <div class="container">
        <div class="title">Registrar Cliente</div>
        <form action="{% url 'home:nuevocliente' %}" method="post">
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details">CUI</span>
                    <input type="text" placeholder="Ingrese CUI" name='cui'>
                </div>
                <div class="input-box">
                    <span class="details">Nombre</span>
                    <input type="text" placeholder="Ingrese Nombre" name='nombre'>
                </div>
                <div class="input-box">
                    <span class="details">Apellido</span>
                    <input type="text" placeholder="Ingrese Apellido" name='apellido'>
                </div>
                <div class="input-box">
                    <span class="details">Direccion</span>
                    <input type="text" placeholder="Ingrese Direccion" name='direccion'>
                </div>
                <div class="input-box">
                    <span class="details">Telefono</span>
                    <input type="text" placeholder="Ingrese Telefono" name='telefono'>
                </div>
                <div class="input-box">
                    <span class="details">Correo</span>
                    <input type="text" placeholder="Ingrese Correo" name='correo'>
                </div>
            </div>
            <div class="button">
                <button type="submit">Enviar datos</button>
            </div>
        </form>
        <br>
        <br>
        <br>
        <br>
        <div class="table-title">
            <h3>Listado de Clientes</h3>
        </div>
        <table class="table-fill">
            <thead>
                <tr>
                    <th class="table-left">
                        CUI
                    </th>
                    <th class="table-left">
                        Nombre
                    </th>
                    <th class="table-left">
                        Apellido
                    </th>
                    <th class="table-left">
                        Direccion
                    </th>
                    <th class="table-left">
                        Telefono
                    </th>
                    <th class="table-left">
                        Correo
                    </th>
                </tr>
                {% for cliente in clientes %}
                <tr>
                    <td class="text-left">
                        {{ cliente.cui }}
                    </td>
                    <td class="text-left">
                        {{ cliente.nombre }}
                    </td>
                    <td class="text-left">
                        {{ cliente.apellido }}
                    </td>
                    <td class="text-left">
                        {{ cliente.direccion }}
                    </td>
                    <td class="text-left">
                        {{ cliente.telefono }}
                    </td>
                    <td class="text-left">
                        {{ cliente.correo }}
                    </td>
                </tr>
                {% endfor %}
            </thead>
        </table>
  