{% extends 'base_menu.html' %}
{% block contenido %}
<title>{% block titulo %}Contrataciones{% endblock titulo %}</title>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nueva Contratacion</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>  
            <form action="{% url 'home:nuevacontratacion' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Cliente</label>
                    <input type="text" class="form-control" list="listaclientes" name="cliente">
                        <datalist id="listaclientes">
                            {% for cliente in clientes %}
                            <option value=" {{cliente.id}} ">{{cliente.nombre}} {{cliente.apellido}} </option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Servicio</label>
                        <input type="text" class="form-control" list="listaservicios" name="servicio">
                        <datalist id="listaservicios">
                            {% for servicio in servicios %}
                            <option value=" {{servicio.id}} "> {{servicio.tipo}} {{servicio.nombre}} {{servicio.costo}} </option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="mb-3"> 
                        <label for="recipient-name" class="col-form-label">Direccion</label>   
                        <input type="text" class="form-control" name="direccion" placeholder="Direccion">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Añadir</button>
                </div>
    </div>
    </div>        
</form>
</div>

<div class="container p-0">
    <div class="row justify-content-end">
        <button type="button" class="btn btn-primary col-12 col-sm-4 col-lg-2" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Nueva Contratacion</button>
    </div>
    <h1 class="title-container">
        Listado de Contrataciones
    </h1>
    <div class="row justify-content-center mt-3">
        <div class="table-responsive col-sm-12 col-md-11 col-xl-12 border border-primary rounded p-4">
            <table class="table border border-danger rounded text-center small">
                <thead>
                    <tr>
                        <th> Codigo </th>
                        <th> Fecha </th>
                        <th> Cliente </th>
                        <th> Servicio </th>
                        <th> Direccion </th>
                        <th> Acciones </th>
                    </tr>
                </thead>
                <tbody class="fontfamily">
                    {% for contratacion in contrataciones %}
                    <tr>
                        <td class="text-center">
                            {{ contratacion.id }}
                        </td>
                        <td class="text-center">
                            {{ contratacion.creacion | date }}
                        </td>
                        <td class="text-center">
                            {{ contratacion.cliente }}
                        </td>
                        <td class="text-center">
                            {{ contratacion.servicio }}
                        </td>
                        <td class="text-center">
                            {{ contratacion.direccion }}
                        </td>
                        <td class="text-center">
                            <a href="{% url 'home:borrarcontratacion' contratacion.id %}"><i class="bi bi-trash3-fill"></i></a>
                            <a href="{% url 'home:modificarcontratacion' contratacion.id %}"><i class="bi bi-pencil-square"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>  
</div> 
<a href="{% url 'home:reporteContratacion'%}"> EXPORTAR A EXCEL</a>          
{% endblock contenido %}
