{% extends 'menu.html' %}    
    {% block contenido %}
    <title>{% block titulo %}Home{% endblock titulo %}</title>
    <h1 class="title-container "> Resumen </h1>
        <div class="contenido col-sm-12 col-md-11 col-xl-12">            
            <div class="card">
                <a href="#">
                    <h1 class="title-card"> {{contrataciones.count}}</h1>
                    <h3>Contrataciones </h3>
                    <h3>totales</h3>
                </a>                
            </div>                      
            <div class="card">
                <a href="#">
                    <h1 class="title-card"> {{recibos.count}} </h1>
                    <h3> Pagos de la  </h3>
                    <h3>semana</h3>
                </a>                
            </div>            
            <div class="card">
                <a href="#">
                    <h1 class="title-card">Q {{ingresototal}}</h1>
                    <h3>Ingresos de la </h3>
                    <H3>semana</H3>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <h1 class="title-card">54</h1>
                    <h3>Contrataciones deudoras</h3>
                </a>
            </div>
        </div>
    </section>    
    <section class="container p-0">
        <h1 class="title-container mb-3"> LISTA DE COBROS PENDIENTES </h1>
        <div class="row justify-content-center mt-3">  
            <div class="table-responsive col-sm-12 col-md-11 col-xl-12 border border-primary rounded p-4">
                <table class="table border border-danger rounded text-center">
                    <thead>
                        <tr>
                            <th>Codigo contratación</th>
                            <th>Cliente</th>
                            <th>Tipo Servicio</th>
                            <th>Meses Pendientes</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>02121212</td>
                            <td>Manolo Fuentes</td>
                            <td>Internet Básico</td>
                            <td>4</td>
                            <td>Q150</td>
                        </tr>
                        <tr>
                            <td>02121212</td>
                            <td>Manolo Fuentes</td>
                            <td>Internet Básico</td>
                            <td>4</td>
                            <td>Q150</td>
                        </tr>
                        <tr>
                            <td>02121212</td>
                            <td>Manolo Fuentes</td>
                            <td>Internet Básico</td>
                            <td>4</td>
                            <td>Q150</td>
                        </tr>
                        <tr>
                        <td>02121212</td>
                        <td>Manolo Fuentes</td>
                        <td>Internet Básico</td>
                        <td>4</td>
                        <td>Q150</td>
                    </tr>
                    <tr>
                        <td>02121212</td>
                        <td>Manolo Fuentes</td>
                        <td>Internet Básico</td>
                        <td>4</td>
                        <td>Q150</td>
                    </tr>
                    <tr>
                        <td>02121212</td>
                        <td>Manolo Fuentes</td>
                        <td>Internet Básico</td>
                        <td>4</td>
                        <td>Q150</td>
                    </tr>
                    </tbody>   
                </table> 
            </div>          
                
        </div>          
    {% endblock contenido %}