{% extends 'menu.html' %}
{% block contenido %}
    <h1>Bienvenido al sistema {{user.first_name}} {{ user.last_name }}</h1>
    <h2>Cargo: {{ user.cuenta.tipo | upper }}</h2>
    {% if user.cuenta.tipo|upper == 'GERENTE' %}
    <p>Usted tiene acceso a todo ✅</p>
    {% elif user.cuenta.tipo|upper == 'COBRADOR' %}
    <p>Usted no tiene acceso a todo ❌</p>
    {% else %}
    <p>Tipo de usuario no reconocido❗⛔</p>
    {% endif %}

    <a href="{% url 'home:logout' %}">Cerrar sesión</a>

    <a href="{% url 'home:clientes' %}">Ir a formulario clientes</a>
    <a href=" {% url 'home:servicios' %} ">Ir a servicios</a>
    {% endblock contenido %}