{% extends 'menu.html' %}
{% load static %}

{% block contenido %}

    <section class="container px-3" id="informacion">

        <ul class="nav nav-pills mb-3 " id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                        type="button" role="tab" aria-controls="pills-home" aria-selected="true">Empresa
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="{% url 'home:usuarios' %}">Usuarios</a>
            </li>
        </ul>

        <div class="tab-content " id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
                 tabindex="0">
                <h1 class="title-container">
                    Informacion de la empresa
                </h1>


                <div class="card border-0 mb-3" style="max-width:100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ informacion.logo.url }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <form action="{% url 'home:nuevainformacion' %}" method="post">
                                    {% csrf_token %}
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-primary text-light"
                                              id="basic-addon1">Empresa</span>
                                        <input type="text" value="{{ informacion.nombre }}" class="form-control"
                                               placeholder="" aria-label="nombre" aria-describedby="basic-addon1"
                                               name="nombre" required="">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-primary text-light" id="basic-addon2">Dirección:</span>
                                        <input type="text" value="{{ informacion.direccion }}" class="form-control"
                                               placeholder="" aria-label="direccion" aria-describedby="basic-addon2"
                                               name="direccion" required="">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-primary text-light"
                                              id="basic-addon3">Teléfono</span>
                                        <input type="text" value="{{ informacion.telefono }}" class="form-control"
                                               placeholder="" aria-label="telefono" aria-describedby="basic-addon3"
                                               name="telefono" required="">
                                    </div>
                                    <button type="submit" class="btn btn-success form-control w-50">Guardar cambios
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

{% endblock contenido %}