{% extends 'menu.html' %}
{% load static %}

{% block contenido %}

<div class="container px-3">
    <div class="justify-content-center border border-primary rounded p-4">
        <h1 class="title-container">
            Informacion de la empresa
        </h1>


        <div class="card border-0 mb-3" style="max-width:100%;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ informacion.logo.url }}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary text-light" id="basic-addon1">Empresa</span>
                            <input type="text" value="{{informacion.nombre}}" class="form-control" placeholder="" aria-label="nombre" aria-describedby="basic-addon1" name="nombre" required="">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary text-light" id="basic-addon2">Dirección:</span>
                            <input type="text" value="{{ informacion.direccion }}" class="form-control" placeholder="" aria-label="direccion" aria-describedby="basic-addon2" name="nombre" required="">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary text-light" id="basic-addon3">Teléfono</span>
                            <input type="text" value="{{ informacion.telefono }}" class="form-control" placeholder="" aria-label="telefono" aria-describedby="basic-addon3" name="nombre" required="">
                        </div>
                        <button type="submit" class="btn btn-success form-control w-50">Guardar cambios</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
    </div>



    <div class="justify-content-center mt-5 border border-primary rounded p-4">
        <h1 class="title-container ">
            Gestión de usuarios
        </h1>
        <div class="container p-3">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Nuevo usuario
        </button>


            <!-- Vertically centered modal -->

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo usuario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form action="{% url 'home:usuario_nuevo' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Nombres</span>
                            <input type="text" class="form-control" placeholder="" aria-label="Firstname" aria-describedby="basic-addon1" name="first_name" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon2">Apellidos</span>
                            <input type="text" class="form-control" placeholder="" aria-label="Lastname" aria-describedby="basic-addon2" name="last_name" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3">Usuario</span>
                            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon3" name="username" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon4">Contraseña</span>
                            <input type="password" class="form-control" placeholder="" aria-label="Password1" aria-describedby="basic-addon4" name="password1" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon5">Repetir contraseña</span>
                            <input type="password" class="form-control" placeholder="" aria-label="Password2" aria-describedby="basic-addon5" name="password2" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon6" >Tipo de usuario</span>
                            <select class="form-control" name="groups" id="id_groups" >
                                <option value="1">Administrador</option>
                                <option value="2">Cobrador</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                    </div>
                </div>
                </div>
            </div>
            <!-- Vertically centered modal -->


            <div class="container d-flex align-center justify-content-center">
                <!-- Formulario para filtrar -->
                <form method="GET" class="input-group mt-2 w-50" action="{% url 'home:usuario_filtrado' %}">
                  <input type="search" class="form-control border-info justify-content-center" name="nombre" placeholder="Filtrar por nombre">
                  <div class="input-group-append">
                        <button type="submit" class="btn btn-info">Buscar</button>
                  </div>
                </form> <!-- / Formulario para filtrar -->
            </div>

        </div>
        <div class="row">

            {% for user in usuarios %}
            <!-- Inicio Card -->
            <div class="card border-primary mb-3 mx-2 py-1" style="max-width: 210px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{% static './img/iconuser.png' %}" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8 px-0">
                    <div class="card-body p-1">
                      <h6 class="card-title mb-0 fs-6 text-truncate"> {{user.first_name}} {{user.last_name}} </h6>
                      <p class="card-text mb-0"><small class="text-muted">
                        {% for group in user.groups.all %}
                            {{ group.name }}
                        {% endfor %}
                      </small></p>
                      <a href="{% url 'home:usuario_editar' user.id %}" class="stretched-link"></a>
                    </div>
                  </div>
                </div>
            </div>
            <!-- Final Card -->
            {% endfor %}

        </div> <!-- Final seccion Usuarios -->
    </div>
</div>

{% endblock contenido %}