{% extends 'menu.html' %}
{% block contenido %}

<form action="{% url 'home:nuevorecibo' %}" method="post">
    {% csrf_token %}
    <label for="contratacion">¿Qué servicio desea pagar?</label>
    <input list="listacontrataciones" name="contratacion">
    <datalist id="listacontrataciones">
        {% for contratacion in contrataciones %}
        <option value="{{contratacion.id}}">{{contratacion.cliente.nombre}} {{contratacion.servicio.tipo}} {{contratacion.servicio.nombre}} </option>
        {% endfor %}
    </datalist>
    <button type="submit">Nuevo pago</button>
</form>
<table>
    <tr>
        <td>No Recibo</td>
        <td>Fecha</td>
        <td>Mes Pagado</td>
        <td>Código contratacion</td>
        <td>Total</td>
    </tr>
    {% for pago in pagos %}
    <tr>
        <td> {{pago.recibo.id}} </td>
        <td> {{pago.creacion}} </td>
        <td> {{pago.mes}}/{{pago.anio}} </td>
        <td> {{pago.recibo.contratacion.id}}</td>
        <td> {{pago.subtotal}} </td>
    </tr>
    {% endfor %}
</table>
{% endblock contenido %}