{% extends 'menu.html' %}

{% block contenido %}
    <section>
        <h2>Reportes de fallo</h2>

        <!-- Button modal Reporte -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Nuevo reporte
        </button> <!-- / Button modal Reporte -->

        <!-- Modal Reporte-->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">¿Qué servicio está fallando?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'home:reportes' %}" method="POST">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <span class="input-group-text">{{ form.contratacion.label }}</span>
                                {{ form.contratacion }}
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">{{ form.descripcion.label }}</span>
                                {{ form.descripcion }}
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="bi bi-person-circle"> Técnico</i></span>
                                <select class="form-control" name="tecnico_asignado" id="tecnico_asignado">
                                    <option value="">---------</option>
                                    {% for usuario in usuarios %}
                                        <option value="{{ usuario.id }}"> {{ usuario.first_name }} {{ usuario.last_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- / Modal Reporte-->


        <hr>
        <h3>Listado de Reportes</h3>
        <article class="table-responsive">
            <table class="table table-hover">
                <thead class="thead">
                <tr>
                    <td>Estado</td>
                    <td>Código</td>
                    <td>Cliente</td>
                    <td>Plan</td>
                    <td>Descripción</td>
                    <td>Técnico</td>
                </tr>
                </thead>
                <tbody>
                {% for reporte in reportes %}
                    {% if reporte.estado == 'P' %}
                        <tr class="text-center table-danger">
                    {% elif reporte.estado == 'E' %}
                        <tr class="text-center table-warning">
                    {% elif reporte.estado == 'S' %}
                        <tr class="text-center table-success">
                    {% else %}
                        <tr class="text-center">
                    {% endif %}


                <td>
                    {% if reporte.estado == 'P' %}
                        <i class="bi bi-circle-fill text-danger"></i>
                    {% elif reporte.estado == 'E' %}
                        <i class="bi bi-circle-fill text-warning"></i>
                    {% elif reporte.estado == 'S' %}
                        <i class="bi bi-circle-fill text-success"></i>
                    {% endif %}
                </td>
                <td>rep-{{ reporte.id }}</td>
                <td>{{ reporte.contratacion.cliente }}</td>
                <td>{{ reporte.contratacion.servicio }}</td>
                <td>{{ reporte.descripcion }}</td>
                <td>{{ reporte.tecnico_asignado.first_name }} {{ reporte.tecnico_asignado.last_name }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>


    </section>
{% endblock contenido %}