<table border="1">
    <tr>
        <td> Codigo </td>
        <td> Cliente </td>
        <td> Servicio </td>
        <td> Enero </td>
        <td> Febrero </td>
        <td> Marzo </td>
        <td> Abril </td>
        <td> Mayo </td>
        <td> Junio </td>
        <td> Julio </td>
        <td> Agosto </td>
        <td> Septiembre </td>
        <td> Octubre </td>
        <td> Noviembre </td>
        <td> Diciembre </td>
    </tr>
{% for contratacion in contrataciones %}
<tr>
    <td>
        {{contratacion.id}}
    </td>
    <td>
        {{contratacion.cliente}}
    </td>
    <td>
        {{contratacion.servicio}}
    </td>
    {% for recibo in contratacion.recibo_set.all %}
        {% for detallepago in recibo.detallepago_set.all %}
        
            {% if detallepago.mes.nombre == "Enero" %}
            <td>
                {{detallepago.subtotal}}
            </td>
            {% endif %}
       
        
            {% if detallepago.mes.nombre == "Febrero" %}
            <td>
                {{detallepago.subtotal}}
            </td>
            {% endif %}
        
       
            {% if detallepago.mes.nombre == "Marzo" %}
            <td>
                {{detallepago.subtotal}}
            </td>
            {% endif %}
       
        
            {% if detallepago.mes.nombre == "Abril" %}
            <td>
                {{detallepago.subtotal}}
            </td>
            {% endif %}
        
        
            {% if detallepago.mes.nombre == "Mayo" %}
            <td>
                {{detallepago.subtotal}}
            </td>
            {% endif %}
        
        
            {% if detallepago.mes.nombre == "Junio" %}
            <td>
                {{detallepago.subtotal}}
            </td>
            {% endif %}
        
        
            {% if detallepago.mes.nombre == "Julio" %}
            <td>
                {{detallepago.subtotal}}
            </td>
            {% endif %}
      
        
            {% if detallepago.mes.nombre == 'Agosto' %}
            <td>
                {{detallepago.subtotal}}
            </td>
            {% endif %}
        
        
            {% if detallepago.mes.nombre == 'Septiembre' %}
            <td>
                {{detallepago.subtotal}}
            </td>
            {% endif %}
        
        
            {% if detallepago.mes.nombre == 'Octubre' %}
            <td>
                {{detallepago.subtotal}}
            </td>
            {% endif %}
        
        
            {% if detallepago.mes.nombre == 'Noviembre' %}
            <td>
                {{detallepago.subtotal}}
            </td>
            {% endif %}
        
        
            {% if detallepago.mes.nombre == 'Diciembre' %}
            <td>
                {{detallepago.subtotal}}
            </td>
            {% endif %}
        
        {% endfor %}
    {% endfor %}
    <br>
   
{% endfor %}
</tr>
    </table>