{% extends 'menu.html' %}
{% block contenido %}
<form action="{% url 'home:nuevoservicio' %}" method="post">
    {% csrf_token %}
    <select name="tipo" id="">
        <option value="Internet">Internet</option>
        <option value="TV">TV</option>
    </select>
    <input type="text" name='nombre' placeholder="Nombre del servicio">
    <input type="text" name='ancho_banda' placeholder="Ancho de banda">
    <input type="number" step="0.10" name='costo' placeholder="Costo">
    <button type="submit">Enviar datos</button>
</form>

<table>
    <tr>
        <td>Tipo</td>
        <td>Nombre</td>
        <td>Ancho de banda</td>
        <td>Costo</td>
        <td>Acciones</td>
    </tr>
    {% for servicio in servicios %}
    <tr>
        <td>{{servicio.tipo}}</td>
        <td>{{servicio.nombre}}</td>
        <td>{% if servicio.ancho_banda != None %}{{servicio.ancho_banda}}{% endif %}</td>
        <td>{{servicio.costo}}</td>
        <td><a href="{% url 'home:borrarservicio' servicio.id %}">❌</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock contenido %}